# Python cache
__pycache__/
*.pyc

# Virtual environment
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data folders (if you don’t want to track large files)
data/raw/
data/processed/

